@model List<QMS.Services.Models.SchemaLocation>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach(var schema in Model)
{
<p>
    @schema.Name

@Html.ActionLink("List", "List", new { cmstype = @schema.Key })



</p>
}

