@model EditViewModel
@{
    ViewData["Title"] = Model.MenuCmsItem.Name;
}


<h1>Delete @Model.CmsType?</h1>

@Html.DisplayFor(x => x.Data)

@using (Html.BeginForm("DeleteConfirm", "Home", new { cmsType = Model.CmsType, id = Model.Id }, FormMethod.Post))
{
    <input type="submit" value="Delete" />
}
