@model EditViewModel
@{
    ViewData["Title"] = Model.SchemaLocation.Name;
}


<h1>Delete @Model.CmsType - @Model.Id?</h1>

@using (Html.BeginForm("DeleteConfirm", "Home", new { Area = "Cms", cmsType = Model.CmsType, id = Model.Id }, FormMethod.Post))
{
    <input type="submit" value="Delete" />
}
