@inject QMS.Storage.Interfaces.IReadCmsItem readCmsItem;
@model ListTreeViewModel

@{
    ViewData["Title"] = Model.MenuCmsItem.Name + " Overview";
}

<h1>@Model.MenuCmsItem.Name Overview</h1>

<ul>
    @foreach (var treeItem in Model.CmsTreeItem.Nodes.OrderBy(x => x.GetSlug(Model.CmsTreeItem.Nodes)))
    {
    <li>
        @treeItem.GetSlug(Model.CmsTreeItem.Nodes) <br>
    </li>
    }
</ul>
