@model DynamicDataCMS.Core.Models.CmsItem
@{
    if(Model == null)
    {
        return;
    }

    ViewData["Title"] = Model.AdditionalProperties["title"];
}

<h1>@Model.AdditionalProperties["title"]</h1>

@Model.AdditionalProperties["intro"]

